mysqlclient
pandas
selenium
matplotlib
seaborn
plotly
beautifulsoup4
sqlite3
psycopg2
SQLAlchemy
SQLAlchemy-Utils
lxml
requests
alembic
apache-airflow
certifi
chardet
click
croniter
dill
docutils
Flask
Flask-Admin
Flask-Cache
Flask-Login
flask-swagger
Flask-WTF
funcsigs
future
gitdb2
GitPython
gunicorn
idna
itsdangerous
Jinja2
lockfile
Mako
Markdown
MarkupSafe
numpy
ordereddict
pkg-resources
psutil
Pygments
python-daemon
python-dateutil
python-editor
python-nvd3
python-slugify
pytz==2017.2
PyYAML==3.12
requests==2.18.1
setproctitle==1.1.10
six==1.10.0
smmap2==2.0.3
tabulate
thrift
Unidecode
urllib3
Werkzeug